.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.header h1 {
  font-size: 2rem;
  margin: 0;
  padding-bottom: 0;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
    margin: auto;
  }
}
.nav .header_mobile__menu {
  display: none;
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
    margin: auto;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: auto;
  }
}
.header .container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
}
.nav__menu a {
  color: #808dad;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.nav__menu a:hover {
  color: #01d293;
}
.header .container .nav .logo span {
  color: #01d293;
}
.header .container .nav .navigation .nav__menu {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header .container .nav .navigation .nav__menu .right .phone {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #01d293;
}

.header .container .nav .navigation .nav__menu .right p svg {
  font-size: 13px;
  color: #808dad;
}
.header__sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  box-shadow: 5px 5px 15px -5px #01d29344 !important;
  z-index: 9999;
  height: 101px;
}
@media only screen and (max-width: 992px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #171f3897;
    z-index: 99999;
    display: none;
  }

  .nav__menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .nav__right {
    display: none;
  }

  .mobile__menu {
    display: block !important;
  }

  .menu__active {
    display: block !important;
  }

  .logo h1 {
    font-size: 1.3rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 60px;
    line-height: 60px;
  }
  .header .container {
    padding: 0 15px;
  }
}
.mobile__menu {
  display: none;
}
.mobile__menu i {
  color: white;
  cursor: pointer;
}
.phone a{
  color: #01d293;
}